[Unit]
Description=Windmaker AlarmManager
Documentation=https://git.windmaker.net/a-castellano/AlarmManager
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/windmaker-alarmmanager
User=nobody
Group=nogroup
Type=simple
Restart=always
ExecStart=/usr/local/bin/windmaker-alarmmanager
TimeoutStopSec=20
CapabilityBoundingSet=
DeviceAllow=
LockPersonality=true
MemoryDenyWriteExecute=false
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=false
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
UMask=0027

[Install]
WantedBy=multi-user.target


